<app-header titulo="Data-Time"></app-header>

<ion-content>

  <ion-list>    

    <ion-list-header>
      <ion-label>Fecha de nacimiento</ion-label>
    </ion-list-header>

    <!-- <ion-item>
      <ion-label>MMMM</ion-label>
      <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
    </ion-item> -->

    <ion-item>
      <ion-item>        
        <ion-datetime [value]="fechaNaci.toISOString()"
                      displayFormat="DD-MMMM-YYYY"
                      (ionChange)="cambioFecha($event)"></ion-datetime>
      </ion-item>
    </ion-item>

    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY"
                    min="2015-01-01"
                    max="2025-12-31"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Opciones de botones</ion-label>
      <ion-datetime [pickerOptions] = "customPickerOption"></ion-datetime>
    </ion-item>
    
    <ion-list-header>
      <ion-label>Hora Bloqueada</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Disabled</ion-label>
      <ion-datetime id="dynamicDisabled" displayFormat="MM DD YY" disabled value="1994-12-15"></ion-datetime>
    </ion-item>
  </ion-list>
    
</ion-content>
