<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati quas aperiam tenetur cumque voluptates quasi dolor aut, nulla fuga magnam, debitis, ducimus eligendi voluptate laudantium. Voluptates voluptatibus praesentium laudantium!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://media.vandal.net/i/750x482/7-2018/2018723192942_1.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, esse, officiis necessitatibus inventore praesentium quos fugiat laboriosam distinctio ab quae, cum voluptates assumenda id quis rerum quia expedita consequatur. Temporibus!      
    </ion-card-content>
  </ion-card>

</ion-content>
